# Backend
# Inside docker network: use service names. From host: use localhost + mapped port.
MONGO_URI=mongodb://mongo:27017/?replicaSet=rs0&directConnection=true
MONGO_DB=sspl_kitchen
REDIS_URL=redis://redis:6379/0
JWT_SECRET=change-me-in-prod-please-use-a-long-random-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=720
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
CORS_ORIGINS=http://localhost:5180

# Frontend
VITE_API_BASE_URL=http://localhost:8090/api
